
  /* Estilos para o título "Lista de Veículos" */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }

  /* Estilos para a div .veiculo */
  .veiculo {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    display: block; /* Exibir cada veículo em uma linha separada */
  }

  /* Estilos para os parágrafos dentro da div .veiculo */
  .veiculo p {
    margin: 5px 0;
  }

  /* Estilos para os links de ação */
  .acoes a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 5px;
  }

  .acoes a:hover {
    background-color: #0056b3;
  }

  /* Estilos para a mensagem "Nenhum veículo cadastrado." */
  .sem-veiculos {
    font-style: italic;
    color: #777;
  }

