/* esse css é apenas da página do login dos posts*/



#login {
	margin: 10px 20px;
}

button {
	display: inline;
	position: relative;
}

input {
	display: inline-block;
	position: relative;
	margin: 0 0px;

}