@media screen and (max-width: 380px) {
  .botao-log {
    width: auto;
  }

 .menu {
  width: 330px;
     margin: 10px 20px 30px 0px;
      display: inline-block;    
      float: right;     
      }

 .logo {
  width: 90px;
  display: inline-block;
  margin: 10px 10px;
  position: absolute; 
 }

 .logo:hover {
  width: 100px;
  transition: 0.1s;
 }


 .titletop {
    width: auto;
    font-size: 15px;
    text-align: center;
    padding: 50px 70px;
    font-weight: bold;
    font-family: Arial, sans-serif;
  }

.botao-log{
   
    padding: 100px 20px; 
    }

 #ponto {
  width: 300px;
  height: 230px;
 }

 #ponto:hover {
  opacity: 0.5;
  width: 310px;
  height: 220px;
}

  .button {
    display: inline-block;
    padding: auto;
    border: solid;
    border-width: 0px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    
  }

  .mapa-conteudo {
    width: auto;
    margin: 0 auto;
    box-shadow: 8px 8px 30px #FFFFFF;
  }

  .table-container {
  width: auto;
  height: auto;
}

}

}
