@media screen and (max-width: 480px) {
  .botao-log {
    width: auto;
  }

 .menu {
  width: 330px;
     margin: 25px 20px 30px 0px;
      display: inline-block;    
      float: right;     
      }

 .logo {
  width: 130px;
  display: inline-block;
  margin: 10px 50px;
  position: absolute; 
 }

 .logo:hover {
  width: 140px;
  transition: 0.4s;
 }


 .titletop {
    width: auto;
    font-size: 15px;
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-family: Arial, sans-serif;

  }


  .button {
    display: inline-block;
    padding: auto;
    border: solid;
    border-width: 0px;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
  }

  .mapa-conteudo {
    width: auto;
    margin: 0 auto;
    box-shadow: 8px 8px 30px #FFFFFF;
  }

}
